/* the-add-on/src/components/LeaderboardComponent.css */
.leaderboard {
  margin: 20px 0;
}

.leaderboard-header {
  background-color: #007BFF; /* Change to blue */
  color: white;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.leaderboard-list {
  list-style: none;
  padding: 0;
  max-height: 300px; /* Fixed height */
  overflow-y: auto; /* Scrollable */
  border: 1px solid #ddd;
  border-radius: 4px;
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.leaderboard-item.header {
  background-color: #007BFF; /* Change to blue */
  color: white;
  font-weight: bold;
}

.leaderboard-item:last-child {
  border-bottom: none;
}