/* the-add-on/src/components/App.css */
.container {
    margin: 24px;
    display: flex;
    flex-direction: column;
}

.back-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}

.back-button:hover {
    background-color: #0056b3;
}

.print-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.print-button:hover {
    background-color: #45a049;
}