.leaderboard-container {
  margin: 20px 0; /* Remove horizontal margin */
  padding: 20px 0; /* Remove horizontal padding */
  border-radius: 8px;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 10px;
  text-align: left;
  width: 50%; /* Ensure columns take up equal space */
}

.leaderboard-table th {
  background-color: #4CAF50;
  color: white;
}

.leaderboard-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.leaderboard-table tr:hover {
  background-color: #ddd;
}

.leaderboard-table td {
  border: none;
}